<div class="layout layout--row layout--top gap gap--large">
  <div class="w--full h--full">
    {% render 'table' plugins_sorted: plugins_sorted %}
  </div>
</div>

<div class="title_bar">
  <img class="image image-stroke--medium" src="data:image/svg+xml;base64,{{ logo_svg | base64_encode }}" />
  <span class="title">Updated {{ 'now' | date: '%B %-d, %Y' }}</span>
  <span class="instance">{{ trmnl.plugin_settings.instance_name }}</span>
</div>

</script>
